<style>
    .save-btn1 {
        display: inline-block;
        padding: 0.3em 1em;
        text-decoration: none;
        color: black;
        border: solid 2px blue;
        border-radius: 3px;
        /*transition: .4s;*/
        background: blue;
        color: white;
        float: right;
    }
    .save-btn2 {
        display: inline-block;
        padding: 0.3em 1em;
        text-decoration: none;
        color: black;
        border: solid 2px blue;
        border-radius: 3px;
        transition: .4s;
    }
    .save-btn2:hover {
        background: blue;
        color: white;
    }
    
</style>
<% items.each do |item| %>
    <div class="folder_form">
            <tr>
            <td class="title-width">
            <% if item['user'].present? %>
                <%= item['user']['id']%>
                <ul>
                    <li>
                        <%= item['created_at'] %>
                    </li>
                </ul>
           <% end %>
           </td>
            <td class="title-wrap"><a href =<%= item['url'] %> target = ["_blenk"]><%= item['title'] %></a>
            
            <div class="save_area">
                <% if folders.include?(item['url']) %>
                    <div class="save-btn1">
                        保存済み
                    </div>
                <% else %>
                    <div class="save-btn">
                        <%= link_to "保存", folders_path(article_id: item['id'], user_name: item['user']['id'], title: item['title'], url: item['url']), class: "save-btn2", remote: true, method: :post %>
                    </div>
                <% end %>
            </div>
            </td>
            </tr>
    </div>
    
<% end %>

<script>
    $('.save-btn').on('click', function () {
        $(this).addClass("save-btn1");
        $(this).text('保存済み');
    });
</script>