<style>
    .edit_page {
        margin-top: 10px;
    }
</style>

<div class="edit_page" style="text-align:center;">
    <%= form_for @user do |f| %>
        <%= f.label :名前%>
        <%= f.text_field :name, value: @user.name %>
        <%= f.submit "保存", class: "btn btn-primary", :style=>"margin-left: 7px" %>
    <% end %>
    <div class="logout" style="padding-top: 20px">
      <%= link_to "ログアウト", destroy_user_session_path, class: "btn btn-success", method: :delete %>
    </div>
</div>