<style>

  body {
    overscroll-behavior: none;
  }

  .user-show{
    text-align: center;
    height: 60px;
    line-height: 60px;
  }
  
  .user_edit {
    text-align: center;
    padding-bottom: 20px;
  }
  
  .dropdown {
    float: right;
  }
  
  .drop-hover:hover > .dropdown-menu {
    display: block !important;
  }
  
  .delete {
    padding-left: 33px;
    border-top: 1px solid #8c8b8b;
  }
  
  .container-show {
    width: 80%;
    float: right;
    padding-right: 10px;
  }
  
  dropup, .dropright, .dropdown, .dropleft {
    position: static;
  }
 
  @media screen and (max-width: 850px) {
    .container-show {
        float: none;
        margin: 0 auto 77px auto;
        padding: 0 20px 0 20px;
        width: 100%
    }
}
</style>

<div class="main">
  <div class="container-show">
    <div class="user-show">
      <%= @user.name %>
    </div>
      <div class="user_edit">
        <% if @user.id == current_user.id %>
          <%= link_to "プロフィール編集", edit_user_path(@user), class: "btn btn-primary" %>
        <% end %>
      </div>
        <% if @user.id == current_user.id %>
          <table class="table table-striped table-bordered table-hover table-condensed">
            <thead style="background-color: #E9FFA5">
              <tr><th style="width: 15%;">ID</th><th>タイトル</th></tr>
            </thead>
              <tbody>
                <% @folders.zip(@files) do |folder, file| %>
                  <tr><td style="width: 15%;"><%= folder.user_name %></td>
                  <td>
                    <a href=<%= folder.url %> target = ["_blank"]><%= folder.title %></a>
                      <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">
                          <a class="fa fa-ellipsis-v" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
                        </button>
                            <ul class="dropdown-menu dropdown-menu-right">
                              <li class="dropleft drop-hover">
                                <a class="dropdown-item dropdown-toggle" href="#" data-toggle="dropdown">保存先</a>
                                <ul class="dropdown-menu">
                                  <li class="dropleft drop-hover" style="height:100px;overflow:auto;">
                                    <a class="dropdown-item" href="#">
                                      <% @files.each do |file| %>
                                        <ul style="padding-left: 35px;">
                                          <li id="folder_save"><%= link_to file.file_name,  user_path(file_id: file.id, folder_id: folder.id, anchor: "folder_save") %>
                                            <% if folder.file_id == file.id %>
                                              (保存中)
                                            <% end %>
                                          </li>
                                        </ul>
                                      <% end %>
                                      <ul style="padding-left: 35px;"><li><%= link_to "保存しない", folder_path(folder), file_id: "nil", method: :put %></li></ul>
                                    </a>
                                  </li>
                                </ul>
                              </li>
                              <div class="delete">
                                <li id="folder_delete"><a class="dropdown-item" href="#"><%= link_to "記事削除", user_path(folder_id: folder.id, destroy: "destroy", anchor: "folder_delete"), class: "btn btn-secondary" %></a>
                              </div> 
                            </ul>
                      </div>
                  </td></tr>
                <% end %>
            </tbody>
          </table>
        <% end %>
  </div>
</div>



