<style>

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overscroll-behavior: none;
}

.width {
     width: 150px;
 }
 
 .main {
    width: 80%;
    float: right;
    margin-right: 20px;
  }
  
  .file-create {
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-left: 1px solid #DDD;
      border-right:  1px solid #DDD;
  }
  
  .notice {
      margin-left: 50px;
  }
 
</style>
<div class="main">
    <div class="file-create">
        <%= form_for(@file, url:{controller: 'files', action: 'create'}) do |f| %>
            <%= f.text_field :file_name, placeholder: "ファイルを作成する" %>
            <%= f.submit "新規作成" %>
            <%= f.hidden_field :user_id, value: current_user.id %>
        <% end %>
        <div class="notice">
            <%= flash[:notice] %>
        </div>
    </div>
        <table class="table table-striped table-bordered table-hover table-condensed">
            <thead>
                <tr><th class="width">ファイル名</th><th>保存内容</th></tr>
            </thead>
            <tbody>
                <% if @file_all.present?%>
                <% @file_all.each do |file| %>
                    <tr><td class="width"><%=  file.file_name %></td>
                    <td>
                    <% @folders.each do |folder| %>
                        <% if folder.file_id == file.id %>
                             <p><a href=<%= folder.url %> target = ["_blank"]><%= folder.title %></a></p>
                             <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">
                  <a class="fa fa-ellipsis-v" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
                </button>
                    <ul class="dropdown-menu dropdown-menu-right">
                      <li class="dropleft drop-hover">
                        <a class="dropdown-item dropdown-toggle" href="#" data-toggle="dropdown">保存先</a>
                        <ul class="dropdown-menu">
                          <li class="dropleft drop-hover">
                            <a class="dropdown-item" href="#">
                             <% @file_all.each do |file| %>
                                <ul><li><%= link_to file.file_name, {controller: "files", action: "update", file_id: file.id}, method: :put %>
                                  <% if folder.file_id == file.id %>
                                     (保存中)
                                  <% end %>
                                </li></ul>
                             <% end %>
                            </a>
                          </li>
                        </ul>
                      </li>
                      <div class="delete">
                        <li><a class="dropdown-item" href="#"><%= link_to "削除", "/folders/#{folder.id}/destroy", method: :get %></a></li>
                      </div>
                    </ul>
                </div>
                        <% end %>
                    <% end %>
                   </td></tr>
                <% end %>
                <% end %>
            </tbody>
        </table>
</div>
