<style>
    .top-warapper {
        background-image: url("https://image.shutterstock.com/image-photo/ryazan-russia-may-20-2018-260nw-1095525152.jpg");
        background-size: cover;
        height: 750px;
        padding-top: 6px;
        padding-bottom: 80px;
        opacity: 0.8;
    }

    .top-container {
        color: white;
        text-align: center;
        padding-top: 550px;
    }

    .entry {
        text-align: center;
        font-size: 20px;

    }

    .sign-up {
        display: block;
        background-color: rgba(0,0,255,0.7);
        width: 100px;
        margin:0 auto;
    }

    .sign-in {
        display: block;
        background-color: rgba(153,0,51,0.7);
        width: 100px;
        margin:0 auto;
        margin-top: 10px;
    }

    .sign-up:hover {
        background-color: rgba(0,0,255,1);
    }
    
    .sign-in:hover {
        background-color: rgba(153,0,51,1);
    }
    
    .sub {
        background-color: white;
        height: 80px;
        text-align: center;
        margin-top: 20px;
        padding-top: 25px;
    }
    
    .descript {
        height: max;
        padding: 30px 0 50px 30px;
        margin: 0 auto;
        max-width: 1400px;
    }
    
    .text-home, .text-file, .text-prf, .text-prf-2, .text-prf-3 {
        background-color: white;
        margin-right: 60px;
        margin-left: 30px;
        padding-bottom: 10px;
        border-radius: 10px; 
        line-height: 2em;
        width: 500px;
        float: right;
    }
    
    .text-home, .text-prf, .text-prf-2, .text-prf-3 {
        width: 500px;
        float: right;
    }
    
    .descript-prf, .descript-file {
        margin-top: 50px;
    }
    
    .all-img {
        width: 700px;
    }
    
    .file-content {
        padding-top: 50px;
    }
    
    .text-content {
        padding-top: 100px;
    }
    
    .text-prf-3 {
        height: 250px;
        display: flex;
        justify-align: center;
        align-items: center;
    }
    
    .text-prf-2 {
        paddin: 30px;

    }
    
    .text-file {
        width: 500px;
        float: left;
    }
    
    .text-weight {
        font-size: 30px;
        font-weight: bold;
    }
    
    h2 {
        font-weight: bold;
    }
    
    footer {
        height: 110px;
        background-color: black;
        opacity: 0.8;
        text-align: center;
        line-height: 100px;
    }
    
    .plan {
        border-top: solid 1px #c8c7cc;
        height: 80px;
        text-align: center;
    }
    
    .plan h3 {
        line-height: 80px;
    }
    
     @media screen and (max-width: 1400px) {
          .descript {
            height: max;
            padding: 30px 0 50px 0px;
            margin-top: 30px;
        }
        
        .all-img {
            width: 80%;
        }
        
        .text-home, .text-file, .text-prf, .text-prf-2, .text-prf-3 {
            width: 100%;
            paddin: 0;
            float: none;
            text-align: center;
            margin-left: 0;
        }
        
        .text-content, .top-content, .file-content, .prf-content {
            text-align: center;
        }
        
        .text-prf-3 {
            height: 50px;
        }
        
         .text-prf-3 p {
            width: 80%;
            margin: 0 auto;
        }
        
        .text-home, .text-file, .text-prf, .text-prf-2  {
            width: 80%;
            margin: 0 auto;
        }
        
        .text-prf-2 {
            padding-top: 20px;
        }
        
        .text-content {
            padding-top: 0;
        }
        
        .top-container {
            padding-top: 550px;
        }
     }
     
      @media screen and (max-width: 1100px) {
        .top-warapper {
            background-image: url("https://image.shutterstock.com/image-photo/ryazan-russia-may-20-2018-260nw-1095525152.jpg");    
            height: 850px;
            opacity: 0.8;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            positoin: relative;
        }
        
        .sub {
            position: absolute;
            top: 760px;
            left: 0;
            width: 100%;
            padding-top: 20px;
            margin-top: 30px;
        }
        
        .top-container {
            padding-top: 500px;
        }
        
        .all-img {
            width: 100%;
        }
    }
</style>
    
<%= render 'layouts/header' %>
<div class="top-warapper">
    <div class="top-container">
        <h1>Qiitaで気になった記事をいつでも見れるようにしよう！</h1>
    </div>
    <div class="entry">
        <div class="sign-up">
            <%= link_to "新規登録", new_user_registration_path, :style => "color: white" %>
        </div>
        <div class="sign-in">
            <%= link_to "ログイン", new_user_session_path, :style => "color: white"  %>
        </div>
    </div>
<h3 class="sub">
    サービス説明
</h3>
</div>
<div class="descript">
    <div class="contents-wrp">
        <div class="top-content">
            <div class="text-home">
                <div class="home-img">
                    <h2>ホームについて</h2>
                    <%= image_tag '12.39.27.png', :size => '150x70', style: "margin-bottom: 10px;" %>
                </div>
                <h3 class="text-weight">
                    記事の一覧と記事の検索
                </h3>
                <p>ログイン後、ホームページへ推移します。
                ホームページでは、Qiitaに投稿された新着記事が100件表示されています。
                上部の検索フォーム<%= image_tag '13.40.49.png', :size => '120x40' %>からは、Qiitaから保存された記事が検索できます。
                記事右側の保存ボタン<%= image_tag '12.26.18.png', :size => '50x40' %>は、あなたが気になった記事、いつでも見れるようにしたいと思った記事を保存することができます。
                <%= image_tag '0.48.17.png', :size => '280x50' %>記事のタイトルをクリックすることで記事へ推移できます。</p>
            </div>
            <div class="top-img" style="padding-top: 20px">
                <%= image_tag '0.47.33.png', :size => '900x500', class: "all-img", style: "margin-top: 20px;" %>
            </div>
        </div>
    </div>
    
    <div class="descript-file">
        <div class="file-about">
        </div>
         <div class="contents-wrp">
            <div class="file-content">
                <div class="text-file">
                    <div class="file-img">
                        <h2 style="padding-top: 10px">ファイルについて</h2>
                        <%= image_tag '13.07.10.png', :size => '150x70', style: "margin-bottom: 10px;" %>
                    </div>
                    <h3 class="text-weight">
                        ファイルの作成
                    </h3>
                    <p>ファイルページでは、ホームページで保存した記事をファイル別に分けることができます。
                    上部のファイル作成フォーム<%= image_tag '13.44.29.png', :size => '120x40' %>からファイルを作成することができます。
                    ファイル名横の<%= image_tag '13.48.20.png', :size => '30x40' %>からは、ファイル名の変更、削除が行えます。</p>
                </div>
                <div class="top-img">
                    <%= image_tag '0.50.33.png', :size => '900x400', class: "all-img", style: "margin-top: 20px;" %>
                </div>
            </div>
        </div>
    </div>
    <div class="descript-prf">
        </div>
        <div class="contents-wrp">
        <div class="prf-about">
            <div class="prf-content">
                <div class="text-prf">
                    <div class="prf-img">
                        <h2 style="padding-top: 10px">プロフィールについて</h2>
                        <%= image_tag '13.14.58.png', :size => '150x70', style: "margin-bottom: 10px;" %>
                    </div>
                    <h3 class="text-weight">
                        プロフィール編集
                    </h3>
                    <p>プロフィールページでは、プロフィール編集ボタンからユーザー名の変更ができます。保存した記事が表示がされます。
                    </p>
                </div>
                <div class="top-img">
                    <%= image_tag '2.46.11.png', :size => '900x250', class: "all-img", style: "margin-top: 20px;" %>
                </div>
                <div class="text-prf-2">
                     <h3 class="text-weight">
                        保存記事一覧　記事の保存先指定
                    </h3>
                    <p>タイトル横の<%= image_tag '13.54.43.png', :size => '40x40' %>からは、作成したファイルに保存したい記事を選択できます。
                    <div class="prf-width"><%= image_tag '14.09.07.png', :size => '280x100' %></div>
                    保存先にマウスを乗せると保存先一覧が出ます。保存したいファイルを選択します。<br >保存中のファイルには（保存中）となります。</p>
                </div>
                <div class="top-img">
                    <%= image_tag '0.56.18.png', class: "all-img", :size => '900x300' %>
                </div>
            </div>
        </div>
        <div class="contents-wrp">
            <div class="text-content">
                <div class="text-prf-3">
                    <p>ファイルページからでも、保存先の移動、記事の削除ができます。</p>
                </div>
                <div class="top-img" style="padding-top: 20px;">
                    <%= image_tag '1.45.18.png', class: "all-img", :size => '900x250' %>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="plan">
    <h3>
        全機能無料
    </h3>
</div>
<footer>
    <p style="color: white;">
        © QiiMemo, Inc.
    </p>
</footer>