<style>
  main {
   height: 100%;
   width: 100%;
   background: radial-gradient(#43FF6B, #007700);
   display: flex;
   justify-content: center;
   align-items: center;
  }
 
 .sign_in {
    padding-bottom: 50px;
 }

 .font_fam {
    font-family: fantasy;
 }
 
 .font_fam {
    color: white;
    padding-bottom: 30px;
 }
 
 .field {
    padding-top: 10px;
 }
 
 input[type="email"]{
    width: 200px;
    height: 50px;
 }
 
 input[type="password"]{
    width: 200px;
    height: 50px;
}

.actions {
    padding-top: 10px;
    padding-bottom: 10px;
}

@media screen and (max-width: 767px) {
    
 main {
    height: 100%;
    padding-top: 0px;
 }
    
 input[type="email"]{
    width: 200px;
    height: 30px;
 }
 
 input[type="password"]{
    width: 200px;
    height: 30px;
 }
 
 .field {
    padding-top: 5px;
 }
 
 .sign_in_btn {
    width: 100px;
    height: 30px;
 }
 
 .font-fam {
    padding-bottom: 0px;
 }
 
 .sign_in {
    padding-bottom: 0px;
 }
}

@media screen and (max-height: 500px) {
    
 main {
    height: 100%;
    padding-top: 0px;
 }
    
 input[type="email"]{
    width: 200px;
    height: 30px;
 }
 
 input[type="password"]{
    width: 200px;
    height: 30px;
 }
 
 .field {
    padding-top: 5px;
 }
 
 .sign_in_btn {
    width: 100px;
    height: 30px;
 }
 
 .font-fam {
    padding-bottom: 0px;
 }
 
 .sign_in {
    padding-bottom: 0px;
 }
}
</style>

<%= render 'layouts/header' %>
<main style="padding-top: 20px;">
  <div class="login" style="text-align: center;">
  <h2 class="font_fam"><span style="font-family: Comic Sans MS;">QiiMemo</span></h2>
  
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレス" %>
    </div>
  
    <div class="field">
      <%= f.password_field :password, autocomplete: "current-password", placeholder: "パスワード" %>
    </div>
  
    <div class="actions">
      <%= f.submit "ログイン", class: "btn btn-danger login_btn" %>
    </div>
  <% end %>
  
  <%= render "devise/shared/links" %>
  </div>
</main>