<style>
* {
    word-break: break-all;
}
    .main_container {
        padding: 0.5em 1em;
        margin: 2em 0;
        border-top: solid 6px black;
        box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);
    }
    .class_name {
        border-bottom: solid 1px black;
        padding-bottom: 10px;
    }
    .class_container {
        position: absolute;
        font-size: 20px;
    }
    .name_container {
        position: relative;
    }
    .description_container {
        word-wrap: break-word;
    }
    .article_url {
        text-align: right;
    }
    .article_button1 {
        display: inline-block;
        padding: 0.3em 1em;
        text-decoration: none;
        color: black;
        border: solid 2px blue;
        border-radius: 3px;
        transition: .4s;
    }
    .article_button1:hover {
        background: blue;
        color: white;
    }
     .article_button2 {
        display: inline-block;
        padding: 0.3em 1em;
        text-decoration: none;
        color: black;
        border: solid 2px #CC0000;
        border-radius: 3px;
        transition: .4s;
    }
    .article_button2:hover {
        background: #CC0000;
        color: white;
    }
    .article_button3 {
        display: inline-block;
        padding: 0.3em 1em;
        text-decoration: none;
        color: black;
        border: solid 2px blue;
        border-radius: 3px;
        transition: .4s;
        background: blue;
        color: white;
    }
    .ruby_result {
        padding: 20px;
    }
    
    @media screen and (max-width: 850px) {
        .paginate {
            margin-bottom: 100px;
        }
       
    }
    
    @media screen and (max-width: 770px) {
        .class_container {
            position: static;
            font-size: 20px;
        }
        .name_container {
            position: static;
        }
    }
</style>
<% if extracted_method_name.present? %>
    <% extracted_method_name.zip(extracted_method_url, extracted_method_class, extracted_method_description).each do |method_name, method_url, method_class, method_description| %>
        <div class="container">
            <div class="row">
                <div class="col-md-11 offset-1">
                    <div class="main_container">
                        <div class="class_name">
                            <div class="class_container">
                                <%= method_class %>
                            </div>
                            <div class="name_container">
                                <%= method_name %>
                            </div>
                        </div>
                        <h7 class="description_container">
                            <%= method_description %>
                        </h7>
                        <div class="article_url">
                        <% if method_url_saved.include?(method_url) %>
                            <div class="article_button3">
                                保存済み
                            </div>
                        <% else %>
                            <%= link_to "保存", method_searches_path(title: method_name, url: method_url, method_code: method_code), method: :post, target: :_blank, class: "article_button1", remote: true %>
                        <% end %>
                            <%= link_to "記事へ", method_url, target: :_blank, class: "article_button2" %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <% end %>
<% else %>
    <h5 class="ruby_result">検索条件と一致する結果がありませんでした。</h5>
<% end %>

