<style>
    .class_container_qiita {
        font-size: 20px;
    }
</style>
<% expected_method_qiita.zip(expected_url_qiita, expected_title_qiita, expected_user_name).each do |qiita_method, qiita_url, qiita_name, user_name| %>
<div class="container">
    <div class="row">
        <div class="col-md-11 offset-1">
            <div class="main_container">
                <div class="class_name">
                    <div class="class_container_qiita">
                        <%= qiita_name %>
                    </div>
                </div>
                <h7 class="description_container">
                    <%= qiita_method %>
                </h7>
                <div class="article_url">
                     <% if qiita_url_saved.include?("https://qiita.com#{qiita_url}") %>
                        <div class="article_button3">
                            保存済み
                        </div>
                    <% else %>
                        <%= link_to "保存", method_searches_path(title: qiita_name, url: "https://qiita.com#{qiita_url}", user_name: user_name, method_code: method_code), method: :post, target: :_blank, class: "article_button1", remote: true %>
                    <% end %>
                    <%= link_to "記事へ", "https://qiita.com#{qiita_url}", target: :_blank, class: "article_button2" %>
                </div>
            </div>
        </div>
    </div>
</div>
<% end %>
<%= paginate expected_method_qiita %>