<style>
    main {
        text-align: center;
        padding-top: 30px;
    }
    
    table,td {
        margin-left: auto;
        margin-right: auto;
        border: 1px solid #333;
        padding: 10px;
    }

    thead,tfoot {
        background-color: #333;
        color: #fff;
    }
    
    .flex_box {
        text-align: center;
        width: 60%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin: 0 auto;
    }
    
    .flex_item {
        width: 20%;
        height: 30px;
        border: 1px solid #8c8b8b;
    }
    
    .method_index {
        border-top: 1px solid #8c8b8b;
        width: 50%;
        padding-top: 20px;
        margin: 30px auto 0 auto;
    }
    
    .label {
        font-weight: bold;
        font-size: 25px;
    }
    
    .submit {
        margin-top: 10px;
    }

</style>
<main>
    <div class="code_area">
        <%= form_tag(method_searches_path, method: :get) do %>
        <div class="label">
            <%= label_tag "メソッド検索" %>
        </div>
            <%= text_area_tag :code, '', placeholder: "コードを入力してください。", :size => "60x10" %>
        <div class="submit">
            <%= submit_tag "コード検索" %>
        </div>
        <% end %>
    </div>
    <% if @extracted_methods.present? %>
    <div class="method_index">
        <h3>メソッド一覧</h3>
    </div>
        <div class="flex_box">
            <% @extracted_methods.each do |method| %>
                <div class="flex_item">
                    <%= method %>
                </div>
            <% end %>
        </div>
        
        <% @extracted_method_url.each do |method_name| %>
            <%= method_name.inner_text %>
        <% end %>
        
        <% if false %>
        <% @ruby_class.each do |ruby| %>
            <% @ruby_class_url = ruby[:href].match(/class(.*)/) %>
            <% @ruby_method_url = @agent.get("https://docs.ruby-lang.org/ja/latest/#{@ruby_class_url}") %>
            <% @ruby_methods = @ruby_method_url.search('.class-toc a') %>
            <% @ruby_methods.each do |ruby_url| %>
                <% @ruby_method_url_child = ruby_url[:href].match(/#(.*)/) %>
                <% @ruby_method_child_commentary = "https://docs.ruby-lang.org/ja/latest/#{@ruby_class_url}#{@ruby_method_url_child}" %>
                <% @ruby_method_description = @agent.get("#{@ruby_method_child_commentary.match(/.*#(.*)/)}") %>
            <h1><%= @ruby_method_description.inner_text %></h1>
            <% end %>
        <% end %>
        <% end %>
    <% end %>
    
</main>