<style>
    main {
        text-align: center;
        padding-top: 30px;
    }
    
    table,td {
        margin-left: auto;
        margin-right: auto;
        border: 1px solid #333;
        padding: 10px;
    }

    thead,tfoot {
        background-color: #333;
        color: #fff;
    }
    
    .flex_box {
        text-align: center;
        width: 60%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin: 0 auto;
        padding-bottom: 20px;
    }
    
    .method_button {
        border: 1px solid #8c8b8b;
        border-radius: 40px;
        display: block;
    	position: relative;
    	width: 140px;
    	padding: 0.8em;
    	text-decoration: none;
    }
    
    .method_button:hover {
        letter-spacing: 2px;
        text-decoration: none;
        color: black; 
    }
    
    .method_index {
        border-top: 1px solid #8c8b8b;
        width: 50%;
        padding-top: 20px;
        margin: 30px auto 0 auto;
    }
    
    .label {
        font-weight: bold;
        font-size: 25px;
    }
    
    .submit {
        margin-top: 10px;
    }

    .change_tab {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    
    .search_result {
        padding-top: 10px;
    }
    
    .code_area {
        margin-bottom: 30px;
    }
    
    .text_form {
        width: 400px;
        height: 250px;
    }
    
#overlay{ 
  position: fixed;
  top: 100;
  z-index: 100;
  width: 100%;
  height:100%;
  display: none;
}
.cv-spinner {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;  
}
.spinner {
  width: 40px;
  height: 40px;
  border: 4px #ddd solid;
  border-top: 4px #2e93e6 solid;
  border-radius: 50%;
  animation: sp-anime 0.8s infinite linear;
}
@keyframes sp-anime {
  100% { 
    transform: rotate(360deg); 
  }
}
.is-hide{
  display:none;
}
    
    @media screen and (max-width: 500px) {
        .text_form {
            width: 300px;
            height: 200px;
        }
        .method_button {
    	    width: 95px;
        }
    }
    
    @media screen and (max-width: 600px) {
        .offset-1 {
            margin-left: 0px;
        }
    }
    
</style>
<main>
    <div class="code_area">
        <%= form_tag(method_searches_path, method: :get) do %>
        <div class="label">
            <%= label_tag "メソッド検索" %>
        </div>
            <%= text_area_tag :code, '', placeholder: "メソッドを入力してください。", class: "text_form" %>
        <div class="submit">
            <%= submit_tag "メソッドを検索", class: "btn btn-success" %>
        </div>
        <% end %>
    </div>
    <% if @method_search.extracted_methods.present? %>
    <div class="method_index">
        <h3>メソッド一覧</h3>
    </div>
    <div class="flex_box">
        <% @method_search.extracted_methods.each do |method| %>
            <div id="button" class="flex_item">
                <%= link_to method, method_searches_path(method_code: method), remote: true, class: "method_button" %>
            </div>
        <% end %>
    </div>
    <div class="change_tab">
        <ul class="nav nav-tabs nav-pills">
            <li class="nav-item">
                <a href="#contents1" class="nav-link active" data-toggle="tab">Ruby</a>
            </li>
            <li class="nav-item">
                <a href="#contents2" class="nav-link" data-toggle="tab">Qiita</a>
            </li>
        </ul>
    </div>
    <div class="tab-content">
        <div class="tab-pane active" id="contents1">
            <div class="method_code">
                 <% if @method_memorie.present? %>
                        <%= render 'method_searches/method_code', method_memory: @method_memory, folder_user: @folder_user %>
                <% else %>
                    <div class="search_result">
                        検索結果が表示されます。
                        <div id="overlay">
                          <div class="cv-spinner">
                            <span class="spinner"></span>
                          </div>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
        <div class="tab-pane" id="contents2">
            <div class="qiita_method">
                 <% if @method_memories.present? %>
                    <%= render 'method_searches/qiita_method_code', method_memories: @method_memories, folder_user: @folder_user %>
                <% else %>
                    <div class="search_result">
                        検索結果が表示されます。
                    </div>
                <% end %>
            </div>
        </div>
    </div>
    <% else %>
        <div class="search_result">
            検索結果がありませんでした。
        </div>
    <% end %>
</main>


<script>
    jQuery(function($){
  $(document).ajaxSend(function() {
    $("#overlay").fadeIn(300);　
  });
    
  $('#button').click(function(){
    $.ajax({
      type: 'GET',
      success: function(data){
        console.log(data);
      }
    })
  }); 
});
</script>