<style>
    main {
        text-align: center;
        padding-top: 30px;
    }
    
    table,td {
        margin-left: auto;
        margin-right: auto;
        border: 1px solid #333;
        padding: 10px;
    }

    thead,tfoot {
        background-color: #333;
        color: #fff;
    }
    
    .flex_box {
        text-align: center;
        width: 60%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin: 0 auto;
    }
    
    .flex_item {
        width: 20%;
        height: 30px;
        border: 1px solid #8c8b8b;
    }
    
    .method_index {
        border-top: 1px solid #8c8b8b;
        width: 50%;
        padding-top: 20px;
        margin: 30px auto 0 auto;
    }
    
    .label {
        font-weight: bold;
        font-size: 25px;
    }
    
    .submit {
        margin-top: 10px;
    }

</style>
<main>
    <div class="code_area">
        <%= form_tag(method_searches_path, method: :get) do %>
        <div class="label">
            <%= label_tag "メソッド検索" %>
        </div>
            <%= text_area_tag :code, '', placeholder: "コードを入力してください。", :size => "60x10" %>
        <div class="submit">
            <%= submit_tag "コード検索" %>
        </div>
        <% end %>
    </div>
    <% if @extracted_methods.present? %>
    <div class="method_index">
        <h3>メソッド一覧</h3>
    </div>
        <div class="flex_box">
            <% @extracted_methods.each do |method| %>
                <div class="flex_item">
                    <%= link_to method, method_searches_path(method_code: method), remote: true %>
                </div>
            <% end %>
        </div>
    <% end %>
    
    <div class="method_code">
        <% if @extracted_method_name.present? && @extracted_method_url.present? %>
                <%= render 'method_searches/method_code', extracted_method_name: @extracted_method_name, extracted_method_url: @extracted_method_url %>
        <% end %>
    </div>
       
</main>