<style>
   .header-nav {
        display: none;
    }
    
    .header-list {
        position: fixed;
        width: 100%;
        background-color: #343a40;
        height: 50px
        padding-top: 40px;
        z-index: 30;
        left: 0;
        top: 0;
        opacity: 0.9;
    }
    
    .qiita {
        line-height:50px;
    }
    
    .header-menu li {
        display: inline-block;
        float: right;
        padding-left: 15px;
        list-style: none
    }
    @media screen and (max-width: 767px) {
        .header-list {
            display: none;
        }
        
        .header-nav {
            display: block;
        }
    }
    
    @media screen and (max-height: 500px) {
        .header-list {
            display: none;
        }
        
        .header-nav {
            display: block;
        }
    }
</style>

<nav class="navbar navbar-light fixed-top header-nav">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- ナビゲーションメニュー -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <%= link_to "キーメモ", root_path, :style => "color: black" %>
        </li>
        <li class="nav-item">
          <%= link_to "新規登録", new_user_registration_path, :style => "color: black" %>
        </li>
        <li class="nav-item">
           <%= link_to "ログイン", new_user_session_path, :style => "color: black" %>
        </li>
        <li>
            <%= link_to "お問い合わせ", homes_contact_path, :style => "color: black" %>
        </li>
      </ul>
    </div>
  </nav>

<header class="header-list">
    <div class="container">
        <div class="row">
            <div class="col-4">
                <div class="header-qiita">
                    <h5 class="qiita"><%= link_to "キーメモ", root_path, :style => "color: white" %></h5>
                </div>
            </div>
            <div class="col-8">
                <div class="header-menu">
                <ul>
                    <li>
                        <%= link_to "お問い合わせ", homes_contact_path, :style => "color: white" %>
                    </li>
                    <li>
                        <%= link_to "新規登録", new_user_registration_path, :style => "color: white" %>
                    </li>
                    <li>
                        <%= link_to "ログイン", new_user_session_path, :style => "color: white"  %>
                    </li>
                </ul>
                </div>
            </div>
        </div>
    </div>
</header>
