<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"><html>
  
  <head>
    <title>Api</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0,minimum-scale=1.0, maximum-scale=1.0,user-scalable=no">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
   
  </head>

  <body>
  <% unless current_page?(root_path) || current_page?(homes_contact_path) || current_page?(homes_contact_after_path) %> 
    <div class="side-bar">
      <% if user_signed_in? %>
        <div class="home">
          <%= link_to  "/folders", class: "btn btn-success active" do %>
            <i class="fa fa-home fa-2x"></i>
            <div class="home-letter">ホーム</div>
          <% end %>
        </div>
        <div class="file">
          <%= link_to "/file_names", class: "btn btn-success" do %>
            <i class="fa fa-folder-open fa-2x"></i> 
            <div class="file-letter">ファイル</div>
          <% end %>
        </div>
        <div class="search_method">
          <%= link_to "/method_searches", class: "btn btn-success" do %>
            <i class="fa fa-search fa-2x"></i> 
            <div class="file-letter">メソッド検索</div>
          <% end %>
        </div>
        <div class="user">
          <%= link_to  "/users/#{current_user.id}", class: "btn btn-success" do %>
            <i class="fa fa-user fa-2x"></i>
            <div class="user-letter">プロフィール</div>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
  <%= yield %>
  <script>
  $(function(){
    $('.side-bar a').each(function(){
        var $href = $(this).attr('href');
        if(location.href.match($href)) {
        $(this).addClass('active');
        } else {
        $(this).removeClass('active');
        }
    });
  });
  </script>
  </body>
</html>
